body {
  margin: 0;
  background-color: #fff;
}

.section1 {
  background-image: url('../img/screen1.jpg');
  background-size: cover;
  background-color: #fff;
}

.logg {
  text-decoration: line-through;
}
