@font-face {
    font-family: BitterRegular;
    src: url(../fonts/BitterRegular.eot);
    src: url(../fonts/BitterRegular.woff) format("woff"),url(../fonts/BitterRegular.ttf) format("truetype"),url(../fonts/BitterRegular.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FuturaPTLight;
    src: url(../fonts/FuturaPTLight.eot);
    src: url(../fonts/FuturaPTLight.woff) format("woff"),url(../fonts/FuturaPTLight.ttf) format("truetype"),url(../fonts/FuturaPTLight.eot?#iefix) format("embedded-opentype"),url(/assets/dist/fonts/FuturaPTLight/FuturaPTLight.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FuturaPTBook;
    src: url(../fonts/FuturaPTBook.eot);
    src: url(../fonts/FuturaPTBook.woff) format("woff"),url(../fonts/FuturaPTBook.ttf) format("truetype"),url(../fonts/FuturaPTBook.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
}

.topMenu {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  margin:auto;
  z-index: 5;
  display: flex;
  flex-direction: row;
  padding-top: 40px;

  .menu {
    position: absolute;
    top: 15px;
    left: 25px;
    cursor: pointer;

    .menu_toogler {
      position: relative;
      display: inline-block;
      margin-right: 24px;
      top: 2px;
      cursor: pointer;
      transition: 0.1s ease-out 0.2s;

      span {
        width: 35px;
        height: 2px;
        margin-bottom: 7px;
        background: #222527;
        position: relative;
        display: block
      }

      &:hover {
        opacity: 0.6;
      }
    }

    p {
      top: -12px;
      position: absolute;
      right: -35px;
      text-transform: uppercase;
    }
  }

  .top_logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: auto;
    top: -10px;
    left: 0;
    right: 0;
    width: 93px;

    a {
      width: 93px;
      height: 82px;
      background: url(../img/logo.png);
      background-repeat: no-repeat;
      background-position: 50%;
      display: inline-block;
      position: relative;
    }
  }

  .top_contacts {
    position: absolute;
    top: 15px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .top_contacts_inner {
      display: flex;
      white-space: nowrap;
      align-items: center;

      a {
        font: 22px/1 FuturaPTBook;
        text-decoration: none;
        color: #191919;
        margin: 0 12px;

        i {
          font-size: 30px;
        }
      }
    }
  }

  &.white {
    color:#fff;

    .menu {

      .menu_toogler {
        span {
          color: #fff;
          background: #fff;
        }
      }
    }
    .top_logo {
      color: #fff;

      a {
        background-image: url(../img/logo_white.png);
      }
    }
    .top_contacts {
      .top_contacts_inner a {
        color:#fff;

        i {
          color:#fff;
        }
      }
    }
  }
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  background-color: rgba(255,255,255,0.8);
  font: 20px/1.3 FuturaPTLight;
  display: none;

  .closeMenu {
    display: table;
    height: 57px;
    margin: 18px;
    float: left;
  }

  .closeBtn {
    display: table-cell;
    color: #000;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.1s ease-out 0.2s;

    i {
      margin-right: 10px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  ul {
    list-style: none;
    float: right;

    li {
      display: inline-block;
      cursor: pointer;
      line-height: 3.21;
      letter-spacing: 0.7px;
      text-align: right;
      margin: 0 14px;

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.active {
    display: block;
  }
}

#fp-nav {
  position: absolute;
  z-index: 15;
  left: 25px;
  top: 0;
  bottom: 0;
  margin-top: auto!important;
  margin: auto;
  max-height: 360px;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 25px;
      cursor: pointer;

      a {

        &.active + .fp-tooltip {
          text-decoration: line-through;
          opacity: 1;
        }
      }

      .fp-tooltip {
        font-family: FuturaPT;
        opacity: 0.5;
      }

      &:hover {
        .fp-tooltip {
          opacity: 1;
        }
      }
    }
  }
}

.section {
  position: relative;
}

.section1 {
  background-image: url('../img/screen1.jpg');
  background-size: cover;
  background-color: #fff;

  .title {
    max-width: 600px;
    max-height: 250px;
    font-size: 18px;
    color: #000;

    p {
      text-align: center;
      max-width: none;
    }
  }

  h1 {
    font-family: BitterRegular;
    font-weight: 100;
    font-size: 40px;
    line-height: 0.57;
    letter-spacing: 1.8px;
    text-align: center;
  }
}

.section2 {
  background-image: url(../img/screen2.jpg);
  background-size: cover;
}

.section3 {
  background-image: url(../img/screen4.jpg);
  background-size: cover;
}

.section4 {
  background-image: url(../img/screen5.jpg);
  background-size: cover;

  .title {
    text-align: center;
    max-width: 600px;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 23px;
      max-width: none;
    }
  }
}

.section5 {

  .crossRow {
    display: table;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);

    &:nth-child(2) {
      border: none;
    }
  }

  .crossHair {
    max-width: 1100px;
    max-height: 460px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .crossBlock {
      width: 49%;
      display: inline-block;
      border-right: 2px solid rgba(0,0,0,0.2);
      padding-bottom: 30px;
      padding-right: 20px;

      &+.crossBlock {
        float: right;
        border: none;
        padding-left: 20px;
        padding-right: 0;
        padding-bottom: 0;
      }

      h3 {
        font: 33px/1 FuturaPTBook;
      }

      p {
        font: 20px/1.2 FuturaPTLight;
      }

      .more {
        color: #000;
      }
    }
  }
}

.section6 {
  background-image: url(../img/screen7.jpg);
  background-size: cover;
}

.section7 {
  background-image: url(../img/screen8.jpg);
  background-size: cover;
}

.contactSection {

  .title {
    text-align: center;
    color: #000;
    max-width: 900px;
    max-height: 500px;

    p {
      max-width: none;
    }
  }

  .callback-btn {
    width: 275px;
    height: 56px;
    background-color: #191919;
    background-color: var(--black);
    border: solid 1px #252525;
    cursor: pointer;
  }
}

#g_map {
  max-width: 1082px;
  max-height: 381px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.title {
  position: absolute;
  max-width: 900px;
  max-height: 300px;
  margin: auto;
  left:0;
  right: 0;
  bottom: 0;
  top: 0;
  color: #fff;

  h2 {
    font: 40px/1 FuturaPTBook;
  }

  p {
    font: 21px/1.3 FuturaPTLight;
    max-width: 600px;
  }
}

.more {
  display: inline-block;
  margin-top: 20px;
  font: 21px/1.3 FuturaPTLight;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  font: 18px/1 FuturaPTBook;
  width: 100%;
  padding: 0 20px;

  .copyright {
    float: left;
  }

  .address {
    float: right;
  }

  &.white {
    color: #fff;
  }
}
